.Button {
  width: 90px;
  text-align: center;
  margin-bottom: 8px;
	color: #666;
  box-shadow: 0 2px 3px #ccc;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 3px;
  border: 1px solid #eee;
}

.Button:hover,
.Button:active {
  background-color: #C0DDF5;
}

.NavLink {
  text-decoration: none;
}