
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Asjade rent</title>
    <script src="vue.js"></script
    <style>
	div {
		background-color: black;
	}
	</style>
  </head>
  <body>
      <div id="main"><h1>Veebipood vol 1</h1>
      <a href="#" v-on:click="goTab(0)">Kodu</a>
      <a href="#" v-on:click="goTab(1)">Pood</a>
      
      <div v-if="tabNr==0">
          <h2>Pealeht</h2>
      <a href="#" v-on:click="goTab(2)">Registreeri</a>
      </div>
      
      <div v-if="tabNr==1">
          <h2>Pood</h2>
      <button v-on:click="getData()">Andmed</button>
      <li v-for="item in items">{{item.id}}, {{item.name}}, {{item.description}} <button v-on:click="sendData()">Lisa ostukorvi</button></li>
      </div>
      
      <div v-if="tabNr==2">
	 <h2>Registreerumine</h2>
	 <form>
         <input type="text" placeholder="kasutajanimi" v-model="newUser"/><br/>
         <input type="text" placeholder="salasõna" v-model="newPassWord"/><br/>
         <input type="submit" value="Registreeru" v-on:click="sendUser"/><br/>
         </form>
	    </div>
  <script>
      var vm = new Vue({
      el: "#main",
      data: {
          tabNr: 0,
          items: [
          ],
      },
      methods: {
      goTab: function(a) {this.tabNr = a;},
  getData: function() {
      fetch('http://localhost:8080/products',).then(res =>
          res.json().then(res => this.items = res))
          ;
      },
  sendData: function() {
      data = new XMLHttpRequest();
      var url = "http://localhost:8080/products";
      data.open("POST", url, true);
      data.setRequestHeader("Content-type", "application/json");
      var info = JSON.stringify({"asi":"asi"});
      data.send(info);
      }, 
sendUser: function() {
	data = new XMLHttpRequest();
      var url = "http://localhost:8080/users";
      data.open("POST", url, true);
      data.setRequestHeader("Content-type", "application/json");
      var info = JSON.stringify({name: this.newName, password: this.newPassWord});
      data.send(info);
      }
      }
      })
  </script>
</body>
