.SelectedProduct {
  width: 800px;
  height: 600px;
  padding: 8px;
  text-align: left;
  margin: 10px;
  box-sizing: border-box;
  float: left;
  border-radius: 3px;
}

.SelectedProduct button {
  margin: 10px 0;
  width: 180px;
  text-align: center;
  margin-bottom: 8px;
	color: #666;
  box-shadow: 0 2px 3px #ccc;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 3px;
  border: 1px solid #eee;
  cursor: pointer;
  outline: none;
}
 
.SelectedProduct button:active,
.SelectedProduct button:hover {
  background-color: #C0DDF5;
} 

.SelectedProductButtonAdded button {
  background-color: mediumseagreen;
  border: 1px solid mediumseagreen;
  color: white;
}
.SelectedProductButtonAdded button:hover {
  background-color: seagreen;
  border: 1px solid seagreen;
}

.SelectedProductButtonAlreadyAdded button,
.SelectedProductButtonAlreadyAdded button:hover,
.SelectedProductButtonAlreadyAdded button:active {
  background-color: gray;
  color: white;
  border: 1px solid gray;
  cursor: auto;
}

.SelectedProductName {
  font-size: 200%;
  text-transform: uppercase;
}

.SelectedProductPrice {
  font-size: 150%;
  color: maroon;
}


.SelectedProductBox {
  height: 100%;
}

.SelectedProductImage {
  float: left;
  margin-right: 15px;
  height: 100%;
}