.SelectedProduct {
  width: 800px;
  height: 600px;
  padding: 8px;
  text-align: left;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  border-radius: 3px;
}


.SelectedProductName {
  font-size: 200%;
  text-transform: uppercase;
}

.SelectedProductPrice {
  font-size: 150%;
  color: maroon;
}


.SelectedProductDescription {
  height: 100%;
}

.SelectedProductImage {
  float: left;
  margin-right: 15px;
  height: 100%;
}